<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en"><![endif]-->
<html class="no-js" lang="en" >

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Administrace</title>

	{control components:css}
	{control components:js, "js/modernizr.js"}

	<link rel="stylesheet" href="{$basePath}/css/screen.css">
</head>
<body>

{block container}



{/block}

{control components:js, "js/jquery.js"}
{control components:js}
<script> $(document).foundation(); </script>

</body>
</html>