<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags|strip|trim}Administrace{/block}</title>

	<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	<style>
		@import url({$baseUrl}{='css/bootstrap.css'|mtime});
		@import url({$baseUrl}{='css/datetimepicker.css'|mtime});
		@import url({$baseUrl}{='css/bootstrap-responsive.css'|mtime});
		@import url('http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.css');
		@import url({$baseUrl}{='css/grido.css'|mtime});
		@import url({$baseUrl}{='css/screen.css'|mtime});
	</style>
	<link rel="stylesheet" media="print" href="{$basePath}{='css/print.css'|mtime}">
	{block head}{/block}

</head>
<body>

<div id="content" class="container-fluid">
	<div class="row-fluid">
		<div class="span12">

			{block container}
				<div class="navbar">
					<div class="navbar-inner">

						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>

						<a class="brand" n:href="Homepage:default">Administrace</a>

						<div class="nav-collapse collapse">
							<ul class="nav pull-left">

								<li><a n:href="Homepage:"><i class="icon-info-sign"></i> Přehled</a></li>

							</ul>

							<ul class="nav pull-right">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">{$user->identity->name}
										<b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a n:href="Setting:default"><i class="icon-wrench"></i> Nastavení</a></li>
										<li><a n:href="Setting:account"><i class="icon-user"></i> Osobní údaje</a></li>
										<li><a n:href="Setting:password"><i class="icon-lock"></i> Změna hesla</a></li>
										<li class="divider"></li>
										<li><a n:href="Sign:out"><i class="icon-remove-circle"></i> Odhlášení</a></li>
									</ul>
								</li>
							</ul>
						</div>

					</div>
				</div>

				{control breadcrumb}

				{block flashMessages}{control flashes}{/block}
				{include #content}

			{/block}
		</div>
	</div>
</div>


<div id="footer">
	<div class="row-fluid">
		<div class="span5">
			Copyright {date("Y")} &copy;
		</div>
		<div class="span5 pull-right text-right">
			Powered by <a href="http://nette.org">Nette</a> & <a href="http://www.doctrine-project.org">Doctrine 2</a><br />
			Designed by <a href="http://twitter.github.com/bootstrap">Bootstrap</a>
		</div>
	</div>
</div>



{block scripts}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="{$basePath}{='js/bootstrap.js'|mtime}"></script>
	<script src="{$basePath}{='js/nette.js'|mtime}"></script>
	<script src="{$basePath}{='js/bootstrap-datetimepicker.js'|mtime}"></script>
	<script src="{$basePath}{='js/nextras.datetimepicker.init.js'|mtime}"></script>
	<script src="{$basePath}{='js/haschange.jquery.js'|mtime}"></script>
	<script src="{$basePath}{='js/grido.jquery.js'|mtime}"></script>
	<script src="{$basePath}{='js/main.js'|mtime}"></script>
{/block}

</body>
</html>
